@page "/"

<PageTitle>Index</PageTitle>

<div class="wrapper">

  <div class="ourChart">
    <p>Chart place holder</p>
    <LineGraphs />
  </div>

  <div class="favourites">
    <h3>Favourites</h3>
    @*<div>
      <input type="search" name="" id="">
      <button class="btn-dark">
      <i class="oi oi-magnifying-glass"></i>
      </button>
      </div>*@
    <TestStock />
  </div>

</div>

<div class="news">
  <br>
  <h3>News</h3>
  <div id="newsContainer">
    <News/>
  </div>
</div>