@page "/"

<PageTitle>Index</PageTitle>

<div class="wrapper">

  <div class="ourChart">
    <p>Chart place holder</p>
    <LineGraphs />
  </div>

  <div class="rightContainer">
    <div id="searchTickerContainer">
      <h3>Search a Ticker</h3>
      <TestStock @ref="stock" />
    </div>

    <div id="border"></div>

    <div id="favouritesContainer">
      <h3>Favourites</h3>
      <Favourites/>
      <button @onclick=@balls>Click Me</button>
    </div>
  </div>

</div>

<div class="news">
  <br>
  <div id="newsContainer">
    @* <News /> *@
  </div>
</div>

@code {
  private TestStock? stock; //Component variable

  public void balls()
  {
    @foreach (var stat in stock?.mCurrentStock?.results!)
    {
      Console.WriteLine(stat.c);
    }
  }

}