@page "/"

<PageTitle>Index</PageTitle>

<div class="wrapper">

   

  <div class="chart">
    <p>Chart place holder</p>
  </div>

  <div class="favourites">
    <h3>Favourites</h3>
    <div>
      <input type="search" name="" id="">
      <button class="btn-dark">
        <i class="oi oi-magnifying-glass"></i>
      </button>
    </div>
  </div>

</div>
<div class="news">
  <h3>News</h3>
  <ul>
    <li>

      <a href="#">Apple</a>
      <p>Apple had thei first press conference of 2022.</p>
    </li>
     <li>
      <a href="#">Apple</a>
      <p>Apple had thei first press conference of 2022.</p>
    </li>
     <li>
      <a href="#">Apple</a>
      <p>Apple had thei first press conference of 2022.</p>
    </li>
     <li>
      <a href="#">Apple</a>
      <p>Apple had thei first press conference of 2022.</p>
    </li>
     <li>
      <a href="#">Apple</a>
      <p>Apple had thei first press conference of 2022.</p>
    </li>
  </ul>
</div>