@page "/"

<PageTitle>Index</PageTitle>

<div class="wrapper">

  <div class="ourChart">
    <p>Chart place holder</p>
    <LineGraphs />
  </div>

  <div class="rightContainer">
    <div id="searchTickerContainer">
      <h3>Search a Ticker</h3>
      <TestStock/>
    </div>

    <div id="border"></div>

    <div id="favouritesContainer">
      <h3>Favourites</h3>
      
    </div>
  </div>

</div>

<div class="news">
  <br>
  <div id="newsContainer">
    <News />
  </div>
</div>